.submit {
  display: flex;
  place-content: center;

  position: absolute;
  bottom: 0;
  width: var(--SCREEN-WIDTH);
  height: 60px;

  font-size: 16px;
  background-color: var(--DISABLED-BG-COL) !important;
}

.submit_ready {
  background-color: var(--MAN-GREEN) !important;
}
