<aside class="man-header">
  <img *ngIf="showGoBack"
       [src]="nightShiftService.isDarkMode ? 'assets/icons/arrow_back_ios_white_24dp.svg' : 'assets/icons/arrow_back_ios_black_24dp.svg'"
       class="icon-button"
       (click)="goBack()">

  <span class="title">
    <ng-content></ng-content>
  </span>

  <div class="action-bar">

    <img *ngIf="showImportExport"
         [src]="nightShiftService.isDarkMode ? 'assets/icons/file_download_white_24dp.svg' : 'assets/icons/file_download_black_24dp.svg'"
         class="icon-button" (click)="openImportDialog()">

    <img *ngIf="showImportExport"
         [src]="nightShiftService.isDarkMode ? 'assets/icons/file_upload_white_24dp.svg' : 'assets/icons/file_upload_black_24dp.svg'"
         class="icon-button" (click)="goToExport()">

    <div class="tooltip-container" (mousedown)="customTooltip.toggleTooltip($event)">
      <img [src]="dataLoggerService.isDataLoggerConnected ? 'assets/icons/bolt_green_24dp.svg' : nightShiftService.isDarkMode ? 'assets/icons/bolt_white_24dp.svg' : 'assets/icons/bolt_black_24dp.svg'"
           class="icon-button" >
      <app-custom-tooltip #customTooltip tooltipText="example text"></app-custom-tooltip>
    </div>

    <div class="language-options" (click)="changeLang()">
      <img [src]="translateService.getDefaultLang() == 'de' ?
            'assets/icons/germany-flag-icon.svg' : 'assets/icons/united-kingdom-flag-icon.svg'">
      <span>{{translateService.getDefaultLang().toUpperCase()}}</span>
    </div>

    <night-shifter></night-shifter>

    <img [src]="nightShiftService.isDarkMode ? 'assets/icons/logout_white_24dp.svg' : 'assets/icons/logout_black_24dp.svg'"
         class="icon-button" (click)="confirmLogout()">
  </div>

  <img src="assets/images/man-logo.svg" class="logo">
</aside>
