<aside class="man-header">
  <img *ngIf="showGoBack"
       [src]="nightShiftService.isDarkMode ? 'assets/icons/arrow_back_ios_white_24dp.svg' : 'assets/icons/arrow_back_ios_black_24dp.svg'"
       class="icon-button"
       (click)="goBack()">

  <span class="title">
    <ng-content></ng-content>
  </span>

  <div class="action-bar">
      <app-custom-tooltip #customTooltip tooltipText="example text"></app-custom-tooltip>
    </div>

    <div class="language-options" (click)="changeLang()">
      <img [src]="translateService.getDefaultLang() == 'de' ?
            'assets/icons/germany-flag-icon.svg' : 'assets/icons/united-kingdom-flag-icon.svg'">
      <span>{{translateService.getDefaultLang().toUpperCase()}}</span>
    </div>

    <night-shifter></night-shifter>

  <img src="assets/images/man-logo.svg" class="logo">
</aside>
