<div class="confirm-dialog">
  <h3 class="horizontally-centered">{{titleTranslationKey | translate}}</h3>
  <span mat-dialog-content>
    {{text | translate}}
  </span>
  <mat-dialog-actions>
    <div class="horizontally-centered">
      <button *ngIf="showCancelButton" mat-raised-button mat-dialog-close (click)="onCancel()">{{"confirm-dialog.cancel" | translate}}</button>
      <button mat-raised-button mat-dialog-close cdkFocusInitial class="confirm"
              (click)="onConfirm()">
        {{"confirm-dialog.ok" | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
