@use '@angular/material' as mat;
@include mat.core();

@import '@angular/material/theming';
@import 'material-design-icons/iconfont/material-icons.css';

* {
  font-family: Arial, sans-serif;
}

body {
  // light mode
  --APP-BG-COL: #FFF;
  --APP-COLOR: #000;

  background-color: var(--APP-BG-COL);
  color: var(--APP-COLOR);
}


body.dark-mode {
  --APP-BG-COL: #2b2b2b;
  --APP-COLOR: #fff;

  .logo {
    filter: invert(1);
  }

}

